#gridPanel{
    width: 480px; height: 480px;
    margin: 0 auto; border-radius: 10px;
    background: #bbada0;
}
div>div{
    width: 100px;
    height: 100px;
    border-radius: 6px;
    background: #ccc0b3;
    float: left;
    margin-top: 16px;
    margin-left: 16px;

    color: #fff;
    font-size: 60px;
    text-align: center;
    line-height: 100px;/*让文字在容器内垂直居中*/
}
.n2{background-color: #eee3da}
.n4{background-color: #ede0c8}
.n8{background-color: #f2b179}
.n16{background-color: #f59563}
.n32{background-color: #f67c5f}
.n64{background-color: #f65e3b}
.n128{background-color: #edcf72}
.n256{background-color: #edcc61}
.n512{background-color: #9c0}
.n1024{background-color: #33b5e5}
.n2048{background-color: #09c}
.n4096{background-color: #a6c}
.n1024{background-color: #93c}
.n2,.n4{color: #776e65;}
.n1024,.n2048,.n4096,.n8192{font-size: 40px}
#gameover{

    /*如何让div占满整个屏幕*/
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;left: 0;right: 0;  bottom: 0;
    /*opactiy是继承的
    解决：改为background:rgba()避免继承*/
    /*opacity: 0.5;*/
    background:rgba(55,55,55,.5);
}
#gameover>p{
    width: 300px;
    height: 200px;
    background-color: #ffffff;
    /*如何让div在父容器中居中
    top: 0;left: 0;right: 0;  bottom: 0;
    margin:auto;
    */
    position:absolute;
    top:50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    text-align: center;
    line-height: 1.5em;
    border-radius:10px;
    border: 1px solid #edcf72;
}
#gameover a{
    padding: 10px;
    background:#9f8d77;
    color: #ffffff;
    border-radius: 6px;
    text-decoration: none;
}
p{
    width: 480px;
    margin: 0 auto;
    font-size: 40px;
    font-weight: bold;
    font-family: Arial;
    padding-top: 15px;
}